.main {
  font: Arial, Helvetica, sans-serif;
  background-color: #e3eee1;
  padding: 40px;
}

a {
  background-color: #a7ada6;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.aTag {
  text-decoration: none;
}

.liTag {
  list-style-type: none;
}

label {
  padding: 8px;
}

label:hover {
  background-color: rgba(212, 212, 212, 0.8);
  opacity: 0.7;
  cursor: pointer;
}

.carousel-control-next {
  margin-right: 100px;
  margin-top: 300px;
  position: absolute;
  height: 8%;
  width: 10% !important;
  background-color: #529547;
  border: 1px solid #385034;
  box-shadow: 7px 5px 7px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px 5px;
}
.carousel-control-next:hover{
  cursor: pointer;
}
/* @media screen and (min-width: 480px) {
  .carousel-control-next{width: 15%; margin-top: 70%;}
  
} */