.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}
.aTag {
  text-decoration: none;
}
.liTag {
  list-style-type: none;
}
.carousel-control-next{
  margin-right: 100px;
  margin-top: 15%;
  height: 100px;
  width: 100px !important;
  background-color: red;
}